@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Ridley Grotesk';
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(28, 145, 226, 1) 100%) ;
  color:#fff;
}

.timeline-content {
    
    border-radius: 0.75rem;
    box-shadow: 0 2px 12px rgba(37, 99, 235, 0.1);
    padding: 2rem 2.5rem;
    border-left: 6px solid #ff9900;
}
.timeline-item::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 12px;
    width: 32px;
    height: 32px;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(37, 99, 235, 0.4);
    z-index: 1;
}

.timeline::before
 {
    content: "";
    position: absolute;
    top: 0;
    left: 28px;
    width: 4px;
    height: 100%;
    background-color: #e0e7ff;
    border-radius: 2px;
}
.timeline-item {
    position: relative;
    margin-bottom: 4rem;
    padding-left: 3.5rem;
}

